/*************************************Tag Selectors****************************************/
h1 {
  color: red;
  font-size: 200px;
}

img:hover {
  background-color: violet;
}


/*************************************Class Selectors****************************************/
.bacon {
  background-color: green;
}

.broccoli {
  background-color: red;
}

.circle {
  border-radius: 100%;
}
